.root {
  padding-top: 80px;
  padding-bottom: 80px;
  height: 100dvh;
}

.inner {
  position: relative;
}

.image {
  position: absolute;
  inset: 0;
  opacity: 0.75;
  color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 220px;
    position: relative;
    z-index: 1;
    gap: 3rem;

    @media (max-width: $mantine-breakpoint-sm) {
        padding-top: 120px;
    }
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 38px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
  }
}

.description {
  max-width: 510px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}


.button {
  text-decoration: none;
  display: block;
  padding: 12px 32px;
  font-weight: 600;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  transition: all 200ms ease;
  border-radius: var(--mantine-radius-sm);
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  cursor: pointer;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}