app:
  market-updaters:
    markets:
      bist:
        enabled: true
        cron: '0/30 15-30 10-18 ? * MON-FRI'
        timezone: 'Europe/Istanbul'

spring:
  flyway:
    enabled: true

logging:
  level:
    org:
      hibernate:
        stat: info
        SQL: info

