rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem

spring:
  application:
    name: Finance
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/stocks}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123}
    driver-class-name: org.postgresql.Driver
    hikari:
      auto-commit: false
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        generate_statistics: false
        fail_on_pagination_over_collection_fetch: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 11207596743-8ql23qmgre6sssabg68hvsrcioucd686.apps.googleusercontent.com
            client-secret: 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
            scope:
              - email
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
logging:
  level:
    org:
      hibernate:
        stat: debug
        SQL: debug