.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  table-layout: fixed;
}

.tableWrapper {
  background: var(--mantine-color-dark-6);
  border: 1px solid var(--mantine-color-gray-8);
  border-radius: var(--mantine-radius-sm);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tableHeader {
  text-align: left;
  padding: 1rem 1rem;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.9);
  background: var(--mantine-color-dark-7);
  border-bottom: 1px solid var(--mantine-color-gray-8);
  border-top: 1px solid var(--mantine-color-gray-8);
}

.tableRow {
  cursor: pointer;
  transition:
    all 0.3s ease,
    border 0s;
  background: var(--mantine-color-dark-6);
  border-bottom: 1px solid var(--mantine-color-dark-5);
}

.tableRow[data-expanded="true"] {
  background: var(--mantine-color-dark-5);
  border-bottom: none;
}

.tableRow:hover {
  background: var(--mantine-color-dark-4);
}

.tableRow:last-child {
  border-bottom: none;
}

.tableRow > td {
  padding: 0.675rem 1rem;
  color: rgba(255, 255, 255, 0.85);
  font-size: 13px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.tableRow > td:nth-child(n + 2) {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

/* First header 200px */
.tableHeader:first-child,
.tableRow > td:first-child {
  width: 200px;
}

/* Last header 50px*/
.tableHeader:last-child,
.tableRow > td:last-child {
  padding: 0;
  width: 55px;
  text-align: center;
}

.tableRow:hover .tickerIcon,
.tableRow:hover .tickerSymbol {
  border-color: var(--mantine-color-blue-7);
  color: var(--mantine-color-blue-4);
}

.expander {
  transition: color 0.3s ease;
  color: var(--mantine-color-gray-4);
}

.tableRow:hover .expander {
  color: var(--mantine-color-blue-4);
}

.tickerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
  margin-right: 8px;
  border-radius: 8px;
  font-weight: 700;
  background-color: var(--mantine-color-dark-6);
  border: 1px solid var(--mantine-color-dark-3);
  transition:
    border-color 0.3s ease,
    color 0.3s ease;
}

.tickerSymbol {
  transition: color 0.3s ease;
}

.expandedRowContainer {
  padding: 0;
  background-color: red;
  border-bottom: 1px solid var(--mantine-color-dark-2);
}

.expandedRowContainer > td {
  padding: 0;
}
