.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.navLink {
  display: block;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  text-decoration: inherit;
  transition: background-color 200ms ease;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-teal-0), var(--mantine-color-dark-7));
  }

  &[data-status="active"] {
    color: var(--mantine-color-white);
    background-color: light-dark(var(--mantine-color-teal-0), var(--mantine-color-teal-9));
    border-left: 3px solid var(--mantine-color-teal-5);
  }
}

.navUser {
  width: 100%;
  border-radius: var(--mantine-radius-md);
  @mixin hover {
    background-color: light-dark(var(--mantine-color-teal-0), var(--mantine-color-dark-7));
  }
}

.quickActionLink {
  display: block;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  font-weight: 500;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  transition: background-color 200ms ease;
  border-radius: var(--mantine-radius-sm);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-teal-0), var(--mantine-color-dark-7));
  }
}
