.user {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.userActive {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.navLink {
  display: block;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  text-decoration: inherit;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-left: 3px solid var(--mantine-color-gray-6);
  }

  &[data-status="active"] {
    color: var(--mantine-color-white);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-left: 3px solid var(--mantine-color-white);
  }
}
