.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}

.mainContent {
  flex: 1;
  outline: none;
}
